{
    "plugins": [
        ["import", {
          "style": "css",  // 'less',
          "libraryName": "antd-mobile",
        }],
          ["@babel/plugin-proposal-decorators", { "legacy": true }],
          ["@babel/plugin-proposal-class-properties", { "loose" : true }]
      ]
}