.imgDiv{
    width: 100%;
    background: #fff;
    img{
        width:5.5rem;
        height: 5.5rem;
        margin: auto;
    }    
}
.contentDiv{
    background: #fff;
    p{
        line-height: .5rem;
        overflow: hidden; 
        white-space: nowrap; 
        text-overflow: ellipsis;
    }
    .namep{
        padding-top:.2rem;
        font-size: .4rem;
        line-height: .6rem;
        color:#555;
    }
    .descp{
        font-size: .3rem;
        color:#888;
    }
    .price{
        font-size: .32rem;
        color:#333;
        font-weight: 700;  
    }
    .vipprice{
        font-size: .28rem;
        color:#ff4891; 
        margin-top:8px; 
        span{
            display: inline-block;
            width: 1.2rem;
            height: .3rem;
            line-height: .3rem;
            font-size: .2rem;
            text-align: center;
            margin-left: 5px;
            background:url("https://j-image.missfresh.cn/mis_img_20181125134036477.png?mryxw=138&mryxh=45") no-repeat;
            background-size:100% 100%;
        }
        u{
            float: right;
            text-decoration: none;
            color:#999;
        }
    }
    .tips{
        height: .6rem;
        line-height: .6rem;
        border-top:1px solid #f2f2f2;
        span{
            margin-left: .2rem;
            font-size:.24rem;
            &:first-child{
                margin-left: 0;
            }
        }
    }
}
.youhui{
    background: #fff;
    h3{
        line-height: 1rem;
        font-size: .4rem;
        color: #333;
        .r-span{
            float: right;
            font-size: .2rem;
            color: #999;
            span{
                margin-left: 5px;
            }
        }
    }
    .p1{
        line-height: .4rem;
        font-size: .24rem;
        margin-bottom:.2rem;
        line-height: .6rem;
        text-indent: .1rem;
        color: #999;
    }
    .shareDiv{
        background: rgba(255,192,203,.3);
        height: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: .3rem;
        box-sizing: border-box;
        padding: 0 .2rem;
        color:#ff4891 ;
        font-size: .26rem;
        .imgdiv{
            img{
                width: .6rem;
                height: 0.4rem;
                margin-right: .15rem;
                float: left;
            }span{
                float: left;
            }
        }
    }
}
.bottom{
    .p1{
        margin-bottom: .1rem;
    }
    margin-bottom: .8rem;
}
.detail-bottom{
    position:fixed;
    bottom:0;
    left: 0;
    height: .8rem;
    background: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top:1px solid #f4f4f4;
    .iconfont{
        font-size: .5rem;
        margin:0 .4rem;
        box-sizing: border-box;
    }
    .am-badge-text{
        right: -5px;
        background: rgb(255, 72, 145);
    }
    .carbutton{
        display: inline-block;
        width: 80%;
        height: 100%;
        line-height:.8rem;
        text-align: center;
        color: #fff;
        font-size: .36rem;
        background:rgb(255, 72, 145);
        font-family: 'Times New Roman', Times, serif;
    }
}